@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik:wght@300;400;500;700&family=Titillium+Web:wght@200;400;600;900&display=swap');       

.main {
  width: 100ww;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10vw;
  font-family: "Rubik Doodle Shadow";
  background-color: #f3eefc;
  color: #692be0;
}