@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik:wght@300;400;500;700&family=Titillium+Web:wght@200;400;600;900&display=swap');       
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');


.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10vw;
  font-family: "Rowdies";
  background-color: #f3eefc;
  color: #692be0;
}


@media (max-width: 650px) {
  .desc {
    display: none;
  }
}

@media (min-width: 650px) {
  .mobile {
    display: none;
  }
}

/* @media (min-width: 650px) {
  .desc {
    display: flex;
  }

  .mobile {
    display: none;
  }
} */

.container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  padding-bottom: 50px;
}

.mouse {
  width: 30px;
  height: 50px;
  border: 3px solid #fcfcfc;
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fcfcfc;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}